{% extends "_templates/layout.twig" %}

{% block content %}
	
	<p>Here are factions with supported squad.xml files.</p>

	<ul>
		{% for group in groups %}

			<li><a href="{{ constant('BASE_URL') }}view/group/{{ group.name|url_encode }}/">{{ group.name }}</a></li>

		{% else %}

			<p>Sorry, no groups located!</p>

		{% endfor %}
	</ul>
	
{% endblock %}