<html>
<head>
	<title>{{Title}}</title>

	<link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app.min.css">
	<!-- Leaflet (Maps) -->
	<link rel="stylesheet" href="/css/leaflet.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/map.min.css">
</head>
<body>

	<header>
		<nav class="black" role='navigation'>
			<div class="nav-wrapper container">
				<a href="/" class="brand-logo">ArgonathDayZ</a>
				<ul class="right right hide-on-med-and-down">
					<li><a href="/">Home</a></li>
					{{#if user}}
					<li><a href="/clans">Clans</a> </li>
					<li><a href="/logout">Logout</a></li>
					{{^}}
					<li><a href="/login">Login</a></li>
					{{/if}}
				</ul>
			</div>
		</nav>
	</header>

	<main>
		<div class="container">
			{{{body}}}
			<div class="row">
				<div class="col s12">
					<div class="card-panel">
						<p class="center-align grey-text text-darken-3">&copy;Copyright {{Year}} ArgonathRPG. | <a target="_new" href="http://steampowered.com">Powered by Steam.</a></p>
					</div>
				</div>
			</div>
		</div>

	</main>
	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
		<a class="btn-floating btn-large red">
	      		<i class="mdi-navigation-apps"></i>
	    	</a>
		<ul>
	      		<li><a href="/players/find/basic" class="btn-floating cyan"><i class="mdi-action-search"></i></a></li>
	      		<li><a href="/map" class='btn-floating green'><i class="mdi-maps-navigation"></i></a></li>
	   	</ul>
	  </div>

	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/materialize.min.js"></script>
	{{#if map}}
	<script type="text/javascript" src="/js/leaflet.min.js"></script>
	<script type="text/javascript" src="/js/map.min.js"></script>
	{{/if}}
	<script type="text/javascript" src="/js/alert-handler.min.js"></script>
	<script type="text/javascript" src="/js/app.min.js"></script>
</body>
</html>