<div class="row">
	<div class="col s12">
		<div class="card">
			<div class="card-content">
				<span class="card-title grey-text text-darken-2">Basic Player Search</span>
				<form action="/search/basic" method="POST">
					<div class="row">
						<div class="input-field col s6">
							<input type="text" id="val" name="val">
							<label for="val">Player Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<input type="submit" class="btn" value="Search">
						</div>
					</div>
				</form>
				<p class="right">Need more a more complex search? Try our <a href="/players/find/advanced">Advance Search</a></p>
				<br />
			</div>
		</div>
	</div>
</div>